*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #fff;
}


header .contenedor .contenedor-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

header .contenedor{
    width: 100%;
    height: 100vh;
    background-image: url(portada3.png);
    background-size: cover;
    background-position: center center;
    
    
}


.logotipo{
    font-family: 'Corinthia', cursive;
    font-size: 50px;
    letter-spacing: 4px;
    margin-left: 30px;
    color: #fff;
    padding-top: 15px;
}

.logo{
    font-size: 14px;
    font-family: 'Fuzzy Bubbles', cursive;
    letter-spacing: 3px;
    padding-bottom: 8px;
    margin-left: 100px;
    color: #fff;
}

header nav a{
    color: #fff;
    text-decoration: none;
    margin-right: 50px;
    font-family: 'Roboto', sans-serif;
}


/*----------------------------------------------------------------------------------*/
.nariz-roja{
    width: 5px;
    height: 4px;
    background-color: red;
    border-radius: 40px 30px 40px 30px;
    position: absolute;
    left: 581px;
    top: 147px;
    animation: brillo 6s infinite alternate;
}

@keyframes brillo{
    0%, 10%, 15%, 20%, 30%, 35%, 40%, 50%, 55%, 60%, 70%, 75%, 80%, 85%, 90%, 100%{
        box-shadow: 9px 9px 9px #fff,
                    3px 3px 5px #fff,
                    -5px -5px 15px #fff,
                    -9px -9px 10px #fff;
    }
    10%, 50%{
        box-shadow: none;
    }
}



/*--------------------------------------------------------------------------------*/

.bolita-roja1{
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    position: relative;
    left: 100px;
    top: 280px;
    animation: rojo-verde 4s infinite linear;
}

.bolita-roja2{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    left: 220px;
    top: 323px;
    animation: rojo-verde 4s infinite linear;
}

.bolita-roja3{
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    left: 80px;
    top: 378px;
    animation: rojo-verde 4s infinite linear;
}

.bolita-roja4{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    left: 200px;
    top: 383px;
    animation: rojo-verde 3s infinite linear;
}

.bolita-roja5{
    width: 9px;
    height: 9px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    left: 180px;
    top: 193px;
    animation: rojo-verde 3s infinite linear;
}

.bolita-roja6{
    width: 9px;
    height: 9px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    left: 200px;
    top: 238px;
    animation: rojo-verde 4s infinite linear;
}

.bolita-roja7{
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    left: 150px;
    top: 263px;
    animation: rojo-verde 3s infinite linear;
}

/*--------------------------------------------------------------------*/
.bolita-amarilla1{
    width: 9px;
    height: 9px;
    background-color: yellow;
    border-radius: 50%;
    position: relative;
    left: 150px;
    top: 393px;
    animation: amarillo-azul 2s infinite linear;
}

.bolita-amarilla2{
    width: 10px;
    height: 10px;
    background-color: yellow;
    border-radius: 50%;
    position: relative;
    left: 140px;
    top: 200px;
    animation: amarillo-azul 5s infinite linear;
}

.bolita-amarilla3{
    width: 10px;
    height: 10px;
    background-color: yellow;
    border-radius: 50%;
    position: relative;
    left: 170px;
    top: 270px;
    animation: amarillo-azul 2s infinite linear;
}

.bolita-amarilla4{
    width: 10px;
    height: 10px;
    background-color: yellow;
    border-radius: 50%;
    position: relative;
    left: 220px;
    top: 360px;
    animation: amarillo-azul 5s infinite linear;
}

.bolita-amarilla5{
    width: 7px;
    height: 7px;
    background-color: yellow;
    border-radius: 50%;
    position: relative;
    left: 130px;
    top: 300px;
    animation: amarillo-azul 2s infinite linear;
}

.bolita-amarilla6{
    width: 9px;
    height: 9px;
    background-color: yellow;
    border-radius: 50%;
    position: relative;
    left: 120px;
    top: 115px;
    animation: amarillo-azul 3s infinite linear;
}

/*---------------------animaciones bolitas árbol------------------------------------*/

@keyframes rojo-verde{
    0%{
        background: red;
    }
    
    50%{
        background: rgb(17, 173, 17);
    }

   
    100%{
        background: red;
    }
}

@keyframes amarillo-azul{
    0%{
        background: yellow;
    }
    50%{
        background: blue;
    }
    100%{
        background: lightblue;
    }
}

/*-------------------------------------------------Deer form--------------------------------*/

.body-wish{
    position: absolute; /*depende del tamaño del navegador, de ninguna otra etiquet html*/
    width: 100%; /*tendrá un backgroud ancho y alto dependiendo del navegador*/
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.sendAWish{
    font-family: 'Corinthia', cursive;
    letter-spacing: 4px;
    color: #fff;
    font-size: 30px;
}

.sendAWish img{
    margin-top: 10px;
    height: 200px;
    z-index: 10;
}

.deer-form{
    width: 700px;
    position: absolute;
    background-image: radial-gradient(rgb(88, 5, 5), #FF0000);
    border: 4px dashed #14a314;
    border-radius: 10px;
    padding: 0px 40px;
    top: 210px;
    left: 50%;
    transform: translate(-50%);
}

.deer-form textarea{
    min-width: 600px;
    max-width: 600px;
    min-height: 150px;
    max-height: 600px;
    
}

.deer-form label, input{
    display: block;
    margin: 10px 0px;
}

.deer-form .rellenar{
    height: 40px;
    border: 2px solid #FF0000;
    border-radius: 8px;
    padding: 10px 10px;
    font-size: 16px;
}

.deer-form .deer-send{
    margin: auto;
    margin-top: 2px;
    margin-bottom: 15px;
    cursor: pointer;
    border: none;
    width: 30%;
    height: 40px;
    border-radius: 6px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #18771a;
    color: #fff;
    letter-spacing: 3px;
   
}


.deer-form .deer-send:hover{
    background-color: rgb(20, 163, 20);
    color: #FF0000;
    text-transform: uppercase;
}

.nariz-roja-2{
    width: 38px;
    height: 27px;
    background-color: #FF0000;
    border-radius: 50%;
    position: absolute;
    left: 662px;
    top: 122px;
    animation: brillo2 4s infinite alternate;
}

@keyframes brillo2{
    0%, 10%, 15%, 20%, 30%, 35%, 40%, 50%, 55%, 60%, 70%, 75%, 80%, 85%, 90%, 100%{
        box-shadow: 9px 9px 9px #fff,
                    9px 9px 9px #FF0000,
                    -9px -9px 15px #fff,
                    -9px -9px 10px #FF0000;
    }
    10%, 50%{
        box-shadow: none;
    }
}

.santa-trineo{
    width: 110px;
    height: 90px;
    background-image: url(santa-trineo.png);
    position: absolute;
    left: 0;
    margin-top: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    animation: trineo 36s linear infinite;
    z-index: 1;
  
}

@keyframes trineo{
    0%{
        left: 0;
        opacity: 0;
    }
    2%{
        left: 2%;
        opacity: .9;
    }
    10%{
        left: 10%;
       opacity: .9;
    }
    20%{
        left: 20%;
        opacity: .9;
    }
    30%{
        left: 30%;
        opacity: .9;
    }
    37%{
        left: 36%;
        opacity: 0;
    }
    40%{
        left: 40%;
        opacity: 0;
    }
    50%{
        left: 50%;
        opacity: 0;
    }
    55%{
        left: 55%;
        opacity: 0;
    }
    60%{
        left: 60%;
        opacity: .9;
    }
    70%{
        left: 70%;
        opacity: .9;
    }
    80%{
        left: 80%;
        opacity: .9;
    }
    90%{
        left: 90%;
        opacity: .0;
    }
    100%{
        left: 92%;
        opacity: 0;
    }
}

/*..........................................................GRINCH.......................*/
.body-complaint{
    position: absolute; /*depende del tamaño del navegador, de ninguna otra etiquet html*/
    width: 100%; /*tendrá un backgroud ancho y alto dependiendo del navegador*/
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.sendAComplaint{
    font-family: 'Corinthia', cursive;
    letter-spacing: 5px;
    color: #49FF00;
    font-size: 33px;
}

.sendAComplaint img{
    margin-top: 3px;
    height: 238px;
    z-index: 10;
}

.grinch-form{
    width: 700px;
    position: absolute;
    background-color: #000000;
    border: 5px solid #49FF00;
    border-radius: 5px;
    padding: 0px 40px;
    top: 210px;
    left: 50%;
    transform: translate(-50%);
}

.grinch-form textarea{
    min-width: 600px;
    max-width: 600px;
    min-height: 150px;
    max-height: 600px;
    
}

.grinch-form label, input{
    display: block;
    margin: 10px 0px;
}

.grinch-form .rellenar{
    height: 40px;
    border: 2px solid #49FF00;
    border-radius: 7px;
    padding: 10px 10px;
    font-size: 16px;
}

.grinch-form .grinch-send{
    margin: auto;
    margin-top: 2px;
    margin-bottom: 15px;
    cursor: pointer;
    border: none;
    width: 30%;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #49FF00;
    color: #000000;
    letter-spacing: 3px;
   
}


.grinch-form .grinch-send:hover{
    background-color: rgb(20, 163, 20);
    color: #000000;
    text-transform: uppercase;
}
